body {
  overflow-x: hidden;
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --spacing: 500px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    color: rgb(212, 19, 123);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  .left {
    color: rgb(235,124,30);
    grid-column: 2 / 5;
  }

  .right {
    color: rgb(212, 19, 123);
    grid-column: 9 / 12;
  }

  blockquote {
    color: rgb(243,243,243);
    font-size: 3rem;
    margin: 0;
    padding: 0;
    grid-column: 3 / span 9;
    margin-bottom: var(--spacing);
  }
